<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>ViewInventory</servlet-name>
    <servlet-class>controller.ViewInventoryController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageInventory</servlet-name>
    <servlet-class>controller.ManageInventoryController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddInventory</servlet-name>
    <servlet-class>controller.AddInventoryController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>controller.IndexController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>controller.RegistrationController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchInventoryService</servlet-name>
    <servlet-class>webservice.SearchInventoryService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>controller.CheckoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewInventory</servlet-name>
    <url-pattern>/viewInventory.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageInventory</servlet-name>
    <url-pattern>/manageInventory.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddInventory</servlet-name>
    <url-pattern>/addInventory.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchInventoryService</servlet-name>
    <url-pattern>/SearchInventory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/registration.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/checkout.html</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:orcl</param-value>
  </context-param>
  <context-param>
    <param-name>dbUserName</param-name>
    <param-value>npu</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>npu</param-value>
  </context-param>
  <listener>
    <listener-class>listener.ContextListener</listener-class>
  </listener>
</web-app>